*, *::before, *::after{
  box-sizing:border-box;
}
:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  
}

a {
  color: #f7f7f7;
  font-size: 18px;

  text-decoration: inherit;
}
a:hover {
  color: #b8b8be;
}

body {
  margin: 0 auto;
  
  min-width: 320px;
  min-height: 100vh;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 10px 50px 10px 50px;
  img{
    width: 180px;
  }
  nav{
  align-content: center;
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
  }
}
.holder{
  background-color: #b31f1f;
}
.container{
  background: url(../public/cwu.jpg);
  height: 100vh;
  background-size: cover;
  .hero{
    width: 40%;
    margin: 16% auto;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-align: center;
    line-height: 30px;
    color: rgba(245, 245, 245, 0.918);
}
  p{
    margin-bottom: 5px;
  }
}

.signinBtn{
  background-color: rgb(15, 15, 121);
  padding: .2em 3em;
  margin-top: 0;
  border-radius: 50px;
}
.signinBtn:hover{
  background-color: #ffffff;
  color: rgb(12, 11, 11);
  transition: background-color 0.80s;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: .7em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.dashboard-container{
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: rgb(36, 35, 35);
}

.dashboard-header{
  background-color: white;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoImg{
  width: 130px;
  height: 30px;
 background-image: url(../public/B&W.svg);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
  margin-left: 40px;
}
.profile{
  height: 55px;
  margin-right: 40px;
  display: flex;
  align-items: center;
 
}
.user-info{
  margin-top: 2px;
  line-height: 16px;
  h4{
    margin: 0;
    font-size: 16PX;
  }
  p{
    margin: 0;
    font-size: 14PX;
  }
}
.profile_img{
  width: 50px;
  height: 50px;
  background-color: aqua;
  border-radius: 50%;
  margin-right: 5px;
}
.main-section{
  height: 92vh;
  display: flex;
}

.dashboard-nav{
  background-color: #b31f1f;
  flex-basis: 5vw;
}

.dashboard-main{
  flex-basis: 95vw;
  background-color:  rgb(226, 226, 226);
  display: flex;
  flex-direction: column;
}
.excuse{
  p{
    padding-top: 20px;
  }
  h3{
    color: blue;
  }
}
.absent{
  p{
    padding-top: 20px;
  }
  h3{
    color: rgb(255, 0, 0);
  }
}
.present{
  p{
    padding-top: 20px;
  }
  h3{
    color: rgb(1, 126, 7);
  }
}
.itemspad{
  p{
    padding-top: 20px;
  }
}
.col-1{
  display: flex;
  width: 100%;
  margin: 15px  auto 0 auto;
  width: 95%;
}
.colItems{
  width: 16%;
  margin-right: 10px;
  height: 105px;
}
.card{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(56, 55, 55, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(56, 55, 55, 0.75);
  box-shadow: 0px 1px 5px 0px rgba(56, 55, 55, 0.75);
}

.value{
  font-size: 32px;
  margin: 0 20px;
  
}
.title{
  font-size: 1rem;
  margin: 0 20px 15px;
}

.graphholder{
  height: 58vh;
  margin: 15px  auto 0 auto;
  width: 95%;
  background-color: #213547;
}