*{
    font-family: 'Roboto', sans-serif;
}
.modalOverlay {
    position: fixed;
    margin: -220px auto;
    width: 40vw;
    height: 52%; 
    background: rgb(12, 12, 80);
    display: flex;
    flex-direction: column;
    z-index: 1000;
    transition: top 0.3s ease-in-out;
  }
  
  .toggleBtn {
    width: 100%;
  }
  
  .toggleBtn button {
    width: 50%;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0;
    background-color: #ffffff;
    color: black;
  }
  

  .signInBtn.active, .createAcc.active {
    background-color: rgb(12, 12, 80);
    color: rgb(255, 255, 255);
    transition:  background-color 0.8s ease-in-out;
  }
  
  .frmContainer {
    width: 100%;
    margin-top: 0;
    height: 100%;
    font-size: 16px;

    input, select{
        padding: 6px 10px ;
        font-size: 14px;
        border-radius: 0;
        border: none;
        background-color: rgba(128, 128, 128, 0.199);
    }
    option{
        color: #201f1f;
    }
    button{
        margin: 10px 0;
        border: none;
        border-radius: 0;
        padding: 8px;
        background-color: #ffffffb9;
        color: rgb(12, 12, 139);
        font-size: 15px;
        font-weight: 900;
    }
    label{
        text-align: left;
        }
  }
 
  .createNewAcc, .login{
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
  
    p{
        height: 30px;
        margin: 0;
        color: rgb(221, 50, 50);
       }
  }
  .login{
    padding-top: 30px;
  }
  .row{
    display: flex;
    justify-content: space-between;
  }
  .row-items{
    width: 32%;
    display: flex;
    flex-direction: column;
  }

  .login, .createNewAcc {
    display: none;
  }
  
  .show {
    display: flex;
  }
  